/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
} */
body,
html,
#__next {
  /* @apply h-full; */
}
body {
  min-height: 100vh;
}
.home-banner {
  @apply sm:bg-left;
  /* background-image: url("images/bg.png"); */
}
.verfiy-inputs input {
  font-family: inherit !important;
  font-size: 15px !important;
}

._2iWL7 {
  z-index: 100000;
}
._1bpcM {
  z-index: 10000;
}

.subtitle {
  @apply text-sm text-gray-500 mt-0 font-semibold;
}
body {
  @apply bg-white  text-gray-900 min-w-[320px] overflow-x-hidden;
}
.max-w-container {
  max-width: 80rem;
}
@media (max-width: 640px) {
  .sm\:justify-start {
    justify-content: flex-start !important;
  }
}
.justify-center {
  justify-content: center !important;
}

@media (max-width: 640px) {
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}
.styles_react-code-input__CRulA input {
  width: 100% !important;
  @apply font-bold select-none;
}
.styles_react-code-input__CRulA {
  display: flex;
}
.styles_react-code-input-container__tpiKG {
  width: 100% !important;
}

.styles_react-code-input__CRulA > input:focus {
  border: 3px solid #ff9f00 !important;
  caret-color: #ff9f00 !important;
}

.PhoneInputInput {
  @apply text-base;
  font-size: 14px !important;
  outline: none;
}
.transcript p {
  @apply font-semibold text-sm text-gray-600 mb-2;
}
@media (max-width: 640px) {
  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}
.transcript h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-[14px];
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-[14px] m-0;
}

@media (max-width: 940px) {
  .md\:px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .leading-7 {
    line-height: 1.75rem !important;
  }
}
.slick-list {
  margin: 0 -8px !important;
}
.slick-slide > div {
  padding: 0 8px;
}
.banner-slider .slick-list {
  margin: 0 0px !important;
}
.banner-slider .slick-slide > div {
  padding: 0 0px !important;
}

.event-sliders .slick-slide > div {
  padding: 0 !important;
}

.event-sliders .slick-slider {
  /* height: 100%; */
}

.event-sliders .slick-slider .slick-list {
  /* height: 100%; */
  /* overflow: inherit; */
  margin: 0px !important;
}
/* .slick-track {
  margin: auto;
} */
.card {
  @apply bg-white rounded-[4px] border border-gray-300 border-opacity-70;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%222%22 fill=%22%23fff%22/%3E%3C/svg%3E");
}

@media (max-width: 640px) {
  .sm\:px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (max-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

.pt-0 {
  padding-top: 0px !important;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.card-head {
  @apply px-4 py-3 border-b border-gray-300 border-opacity-40;
}

.card-title {
  @apply font-bold text-gray-800 text-[15px] capitalize;
}

.card-body {
  @apply p-4;
}

.card-footer {
  @apply px-3 py-3 flex  border-t justify-end border-gray-300 border-opacity-40;
}
.switch label i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 11px;
  -webkit-transform: translate3d(2px, 2px, 0);
  transform: translate3d(2px, 2px, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.or:after,
.or:before {
  content: "";
  @apply w-1/3 bg-gray-200 bg-opacity-75 block;
  height: 1px;
}

.switch label i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 1.5rem;
  height: 19px;
  background-color: white;
  border-radius: 11px;
  left: 0px;
  top: 0.7px;
  -webkit-transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.switch.small label {
  height: 20px;
}

.switch.small label i::after {
  width: 1rem;
  height: 14px;
}

.switch input:checked + i {
  background-color: #fca103;
}

.switch input:checked + i::before {
  -webkit-transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.switch input:checked + i::after {
  -webkit-transform: translate3d(22px, 2px, 0);
  transform: translate3d(18px, 2px, 0);
}

.label {
  @apply text-[13.5px] mb-2 inline-block text-gray-700 font-medium capitalize;
}

.loading-btn {
  pointer-events: none;
  color: transparent;
}
.loading-btn::after {
  animation: spinAroundLoader 500ms infinite linear;
  border: 3px solid rgb(209, 209, 209);
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  width: 1em;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}

.flatpickr-monthDropdown-months {
  font-size: 15px !important;
  font-weight: 700 !important;
  color: #e12c2c !important;
}
.flatpickr-calendar.open {
  overflow: hidden;
}
.flatpickr-prev-month,
.flatpickr-next-month {
  @apply bg-primary;
}
.flatpickr-prev-month svg,
.flatpickr-next-month svg {
  color: white !important;
  @apply fill-current;
}

.flatpickr-month {
  @apply mb-2;
}
.flatpickr-day.selected {
  background: #e12c2c !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-color: #e12c2c !important;
}
.flatpickr-current-month input.cur-year {
  font-size: 15px !important;
  font-weight: 700 !important;
  color: #e12c2c !important;
  margin-left: 5px !important;
  text-align: center !important;
}

.loading-btn-black::after {
  border: 3px solid black;
  border-right-color: transparent;
  border-top-color: transparent;
}
.loading-btn-primary::after {
  border: 3px solid #e12c2c;
  border-right-color: transparent;
  border-top-color: transparent;
}
.loading-btn-small::after {
  height: 0.8em;
  width: 0.8em;
  left: 9.9px;
  top: 10px;
}

@keyframes spinAroundLoader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block;
}
.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: 0;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  top: 0;
  left: 0;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
} /*# sourceMappingURL=slick.min.css.map */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader::after {
  width: 2.25rem;
  height: 2.25rem;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.scr::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.scr::-webkit-scrollbar-thumb {
  background-color: "red";
}

.scr::-webkit-scrollbar-track {
  background: "grey";
}

/* .invoice-table th {
  @apply text-left py-4 px-4 font-bold capitalize text-sm border-b text-gray-600 border-gray-200 border-l-0 border-r-0;
}

.invoice-table tbody tr:last-child td {
  @apply border-b-0;
}
.invoice-table thead th:last-child {
  @apply text-right;
}
.invoice-table td {
  @apply border-b border-gray-200 md:border-none border-l-0 border-r-0 text-sm capitalize text-gray-600 font-semibold md:px-3 md:py-3 py-4 px-4;
} */
.flatpickr-input {
  opacity: 0;
}
.flatpickr-calendar {
  right: 33px !important;
}
@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }

  40% {
    transform: translateX(0) scaleX(0.4);
  }

  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

.progress-bar-value {
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

.tb-data {
  @apply capitalize truncate  leading-7 font-semibold text-sm border max-w-[250px] border-gray-100 border-l-0 border-r-0 p-2 pl-4 text-gray-600;
}
.tb-hd {
  @apply last-of-type:text-right text-left py-4 px-4 font-bold capitalize text-sm border-b text-gray-600 border-gray-200 border-opacity-70 border-l-0 border-r-0;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  padding: 5px 0px !important;
  @apply leading-7;
}

.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media (max-width: 1023px) {
  .lg\:max-h-\[78vh\] {
    max-height: 78vh 9 !important;
  }
}

@media (max-width: 1023px) {
  .xl\:max-h-\[78vh\] {
    max-height: 78vh 9 !important;
  }
}

._1yCVn {
  z-index: 1000 !important;
}
